################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/puzzle 0-2/FileContentIndex/095c454b-5632-44b8-86fe-c4cb20d9bce3.vsidx
/.vs/cad12clickergame/FileContentIndex/5794875e-2382-40f5-8a2f-5efae6780a47.vsidx
