################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/puzzle 0-2/FileContentIndex/095c454b-5632-44b8-86fe-c4cb20d9bce3.vsidx
